body {
  font-family: 'Archivo Narrow', sans-serif;
}
.jumbotron{
  margin-bottom: 0;
  padding-top:48px;
  padding-bottom:48px;
  text-align: center;
}
.first{
  padding-bottom: 48px;
  background-color: #ddd;
}
.second{
  background-color: #ccc;
  padding-bottom: 24px;
}
.toolbar{
  background-color: #eee;  
}
.btn, .nav-pills > li > a , .dropdown-menu{border-radius: 0;}
textarea, .preview{
  width: 100%;
  padding: 4px;
  border: 1px solid #e1e1e1;
  min-height: 600px;
  background-color: #fff;
}
textarea{
    font-family: 'Cutive Mono', monospace;
    font-family: 'Inconsolata', monospace;
}
.preview{
	max-height: 668px;
	overflow: auto;
}
footer p{
  text-align: center;
}
.btn-group-vertical > .btn:last-child:not(:first-child), .btn-group-vertical > .btn:first-child:not(:last-child), button.btn, btn{
	border-radius: 0;
}
/*
 * Demo 2
 */
#test-toolbar{
	width:100%;
}
#test-toolbar button.btn{
	display:block;
}
.no-gap{
	margin-right:0;
	margin-left:0;
	padding-right:0;
	padding-left:0;
}
.no-gap-left{
	margin-left:0;
	padding-left:0;
}
.no-gap-left > *{
	margin-left:0;
}
.no-gap-right{
	margin-right:0;
	padding-right:0;
}
.no-gap-right > *{
	margin-right:0;
}